<div class="row">

  <div class="span2">
    some text
  </div>
  <div class="span10">
    The most important part of the tasks are the instructions. ALWAYS carefully read the instructions and be sure to understand them before beginning any task.

<br />
<br />

Sometimes in the middle of a task you will get a message that says, "we are adding new things, please reload in 20 seconds to resume where you left off" It almost always take longer than 20 seconds. When you reload, it should take you to a page that says "Last time you were here you didn't finish a task, would you like to resume?" Always click yes or you will lose your work. 

<br />
<br />

You have to maintain a certain accuracy percentage to remain on each task. If you fall below the expected accuracy rate they do not allow you to finish it. (each task has a different accuracy percentage rate) 

<br />
<br />

If you answer a question incorrectly, you will get a message stating, "Some of your answers are not what we expected" If you think you received that message in error, use the help link (upper right hand corner) to contact crowdflower and let them know. If you are correct they will fix the issue and reset your accuracy so you can do the task again.

<br />
<br />

If you receive that message and you were incorrect, use the information provided 
(why it was incorrect) to better learn how to do the task.
  </div>
</div>
